
.root{
    display: flex;
    flex-direction: column;
    margin: 0px;
    /*
    margin: 0px 2rem;
    */
}

a{
    font-size: 13px;
    text-decoration: none;
    color: #e5e7eb;
}

ul{
    list-style: none;
}


.nav{
    display: flex;
    border: red dotted;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 10px 30px;
}

.nav li{
    font-size: 20px;
    color: #e5e7eb;
}

.hero{
    display: flex;
    border: red dotted;
    background-color: #1f2937;
    min-height: 350px;
}

.right-header{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.hero{
    display: flex;
    justify-content: center;
    padding: 50px 100px;
    align-items: center;
    gap: 20px;
}

.hero .info{
    display: flex;
    flex-direction: column;
    border: red dotted;
    height: 300px;
    width: 350px;
    padding: 0px 0px;
    flex-shrink: 0;
}

.hero h1{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    justify-content: flex-start;
}

.hero button{
    align-self: center;
    width: 100px;
    height: 100px;
    background-color: #4d86e2;
    color: white;
}

.hero p{
    font-size: 18px;
    color: #e5e7eb;
}

.hero .hero-image{
    display: flex;
    width: 350px;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.hero-image img{
    flex: 1;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.more-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    padding-bottom: 30px;
    border: red dotted;
}

.more-info h3{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.img-container{
    display: flex;
    gap: 25px;
}

.img-container img{
    width: 200px;
    height: 250px;
    border: blue solid;
}

.quote{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e5e7eb;
    height: 200px;
}